{% extends "students/base.html" %}

{% block body %}
    {% if success %}
        <div class="alert alert-dismissible alert-success">
            <a href="{% url 'index' %}">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </a>
            <strong>Student Updated Successfully</strong> <a href="{% url 'index' %}" class="alert-link">[Back To HomePage]</a>.
        </div>
    {% else %}
        <div class="row justify-content-center">
            <div class="col-10 col-sm-6">
                <div class="card bg-light mb-3">
                    <div class="card-header">
                        <i class="fa-solid fa-user-pen fa-lg"></i> Student Update
                    </div>
                    <div class="card-body">
                      <form action="" method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">Update</button>
                        <a href="{% url 'index' %}" class="btn btn-secondary">Cancel</a>
                      </form>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}